<style TYPE="text/css">body {font-size: 8pt ; font-family: Verdana, Helvetica, Arial; background-color: #d8da3d}

.verde1 {font-size: 20pt;
	     font-family: Verdana, Arial, Helvetica, sans-serif;
	     line-height: 20pt;
	     color: #669933;
	     text-decoration: bold;
	     font-weight: normal;
         }
.verde1:hover {color: #003300;}
.verde1:link {color: #669933;}


.verde2 {font-size: 8pt;
	     font-family: Verdana, Arial, Helvetica, sans-serif;
	     line-height: 9pt;
	     color: #336600;
	     text-decoration: none;
	     font-weight: normal;
         }
.verde2:hover {color: #003300;}
.verde2:link {color: #336600;}


.verde3 {font-size: 8pt;
	     font-family: Verdana, Arial, Helvetica, sans-serif;
	     line-height: 9pt;
	     color: #669933;
	     text-decoration: none;
	     font-weight: normal;
         }
.verde3:hover {color: #003300;}
.verde3:link {color: #669933;}


.verde4 {font-size: 14pt;
	     font-family: Verdana, Arial, Helvetica, sans-serif;
	     line-height: 16pt;
	     color: #006633;
	     text-decoration: none;
	     font-weight: normal;
         }
.verde4:hover {color: #003300;}
.verde4:link {color: #006633;}


.headtable{
    width: 766px;
	border: 0px;
	background-color: #669933;
}

.headtable td{
			font-size: 32pt;
			font-family: Verdana, Arial, Helvetica, sans-serif;
			color: #EEEEEE;
			text-decoration: none;
			font-weight: normal;
}

.footer{
	width: 766px;
	border: 1px solid #006633;
	font-size: 11pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height: 15pt;
	color: #006633;
	text-decoration: none;
	font-weight: normal;
	margin-top: 35px;
}

.navigtable{
    width: 766px;
	border: 0px;
	margin-bottom: 35px;
}

.navigtable td{
			width: 25%;
			text-align: center;
			font-size: 12pt;
			font-family: Verdana, Arial, Helvetica, sans-serif;
			color: #669933;
			text-decoration: none;
			font-weight: normal;
			margin-bottom: 20px;
}
.navigtable td:link {color: #669933;}

.stdtable{
    width: 766px;
	border: 0px;
}

.stdtable td{
			text-align: right;
			width: 20%;
			font-size: 12pt;
			font-family: Verdana, Arial, Helvetica, sans-serif;
			color: #669933;
			text-decoration: none;
			font-weight: normal;
}
.stdtable:link {color: #669933;}

.menu{
	width: 766px;
}

</style>
