<style TYPE="text/css">


body{
	text-align: center;
	background:url(../images/gfx/bg.gif);
	background-position: top left;
	background-repeat: repeat-x;
	background-color:#ececec;
}
body, td{
    font:10px Verdana;
    margin:0px;
	padding:0px;
	scrollbar-face-color: #d1d1d1;
	scrollbar-highlight-color: #ffffff;
	scrollbar-3dlight-color: #d1d1d1;
	scrollbar-darkshadow-color: #d1d1d1;
	scrollbar-shadow-color: #d1d1d1;
	scrollbar-arrow-color: #ffffff;
	scrollbar-track-color: #ececec;
}
a:link{
	color:#333333;
	text-decoration: none;
}
a:visited{
	color:#333333;
	text-decoration:none;
}
a:hover{
	color: #9e9e9e; 
	text-decoration:none;
}
hr{ 
	width:475px;
	color:#cccccc;
	height:1px;
}

.sub_title{ 
	color:#028cc5; 
	font-weight:bold; 
	font-family:arial;
	font-size:14px;
	height:30px;
	padding:5px;
	-moz-box-sizing: padding-box;

}
.regi-box-up{
	background:url(../images/gfx/sf_ico-reg.gif);
	border-bottom:1px solid #cccccc;
	color:#333333;
	padding-left:15px;
	padding-right:8px;
	-moz-box-sizing: padding-box;
}


h1{ 
	font-family: Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:bold;
	margin:0;
	padding:0;
}

.up{
	font-family: verdana, geneva, sans-serif; 
	font-size:: 10px;
	color:#9e9e9e;
	text-align: center;	
	width:240px;
}


legend{
	font: 12px  arial, geneva, sans-serif; 
	font-weight:bold;
	text-align:left;
	color:#333333;
	}

.campiform {
    border:1px solid #ccc;  
    font-family: Verdana, arial, sans-serif; 
    color: #000; 
    font-size: 10px;
    background: #ffffff;
    margin-left:2px;
	width: 90px;
  }
  
  .campiform333 {
    border:1px solid #20b4e4;  
    font-family: Verdana, arial, sans-serif; 
    color: #000; 
    font-size: 14px;
    background: #ffffff;
    margin-left:2px;
  }
  
 .campiformreg {
    border:1px solid #dfdfdf;  
    font-family: Verdana, arial, sans-serif; 
    color: #000; 
    font-size: 11px;
    background: #f5f3f3;
    margin-top:2px;
    width:250px;
  }

 .campiformmod {
    border:1px solid #dfdfdf;  
    font-family: Verdana, arial, sans-serif; 
	text-align:center;
    color: #000; 
    font-size: 11px;
    margin-top:2px;
    width:150px;
  }
 .campicheck {
    border:1px solid #dfdfdf;  
    font-size: 9px;
    background: #ffffff;
    margin-left:2px;
  }

.bottonblu {
	background:url('../images/gfx/bottone.gif'); 
	width:68px; 
	height:20px;
	border:0px;
	font: 10px Verdana, arial, sans-serif;
	font-weight:;
	color: #fff;
	background-color: #00aff0;
	letter-spacing:-1px;
	} 
.bottonbluroll {
	background:url('../images/gfx/bottoneroll.gif'); 
	width:68px; 
	height:20px;
	border:0px;
	font: 10px Verdana, arial, sans-serif;
	font-weight:;
	color: #fff;
	background-color: #00aff0;
	letter-spacing:-1px;

	} 


.bottonblumini {
	background:url('../images/gfx/1entra.gif'); 
	width:16px; 
	height:16px;
	border:0px;
	font: 10px Verdana, arial, sans-serif;
	font-weight:;
	color: #fff;
	margin-left: 3px;
	} 
.bottonblurollmini {
	background:url('../images/gfx/2entra.gif'); 
	width:16px; 
	height:16px;
	border:0px;
	font: 10px Verdana, arial, sans-serif;
	font-weight:;
	color: #fff;
	margin-left: 3px;
	} 


.bottoni {
	border:1px double #ececec;
	font: 10px Verdana, arial, sans-serif;
	font-weight: ;
	color: #fff;
	background-color: #00aff0;
	} 


.bottoniroll { 
	border:1px double #ececec;
	font: 10px Verdana, arial;, sans-serif; 
	font-weight:; 
	color: #ffffff; 
	background-color: #ae0000; 
	}
	
.promo_div{ 
	font-weight: normal; 
	color: #333; 
	font-size: 10px;
	position: absolute;
	text-align: right;
	bottom: 20px;
	right: 20px;
	}


.colonna_dx{ 
	width:210px;
	text-align:left; 
	font:10px Verdana; 
	color: #333333; 
	margin:0px;
	-moz-box-sizing: padding-box;
	}
.short_desc{ 
	margin-left:5px;
	color:#535252; 
	font-weight:bold;
	text-align:left;
	}

.divider{
	padding-top:7px;
	padding-bottom:7px;
}
.divider2{
	padding-bottom:5px;
}
.small_price{
	font-family: arial;
	font-size:16px;
	color:#666666;
	font-weight:bold;
}
.small_price_sx{
	font-family: arial;
	font-size:14px;
	color:#777777; 
	font-weight:bold;
}
.small_time{ 
	font-family: verdana;
	font-size:11px; 
	color:#017FF7; 
	font-weight:bold;
}


blu_up {
	height:25px;
	width:720px;
	margin:0px;
	background:url(../images/gfx/ban2.jpg);
	border-bottom: 1px solid #FFFFFF;
	font: 12px Arial, sans-serif;
	font-weight: bold;
	color:#ffffff;
	padding-top:5px;
	padding-left:10px;
	-moz-box-sizing: padding-box;
}
blu_up_hp {
	height:20px;
	width:710px;
	margin:0px;
	background:url(../images/gfx/ban2.jpg);
	border-bottom: 1px solid #FFFFFF;
	font: 12px Arial, sans-serif;
	font-weight: bold;
	color:#ffffff;
	padding-top:5px;
	padding-left:10px;
	text-align:left;
}

Stile1 {
	font-size: 14px;
	font-weight: bold;
}
Stile6 {
	color: #0066FF;
	font-weight: bold;
}
Stile7 {
	font-size: 12px;
}
Stile8 {
	font-size: 12px;
	font-weight: bold;
}
Stile10 {
	font-size: 10px;
}
Stile11 {
	font-size: 14px;
	font-weight: bold;
	color: #0099FF;
}

p {
	font-size:11px;
	color: #586885;
	line-height: 120%;
}


td {
	font-size: 12px;
	text-align : center;
	color : #586885;
}


table.primary-flash
{ 
	position: absolute;
	right: 110px;
	bottom: 100px;
}

#primary-flash caption
{ 
	text-align: left;
}
#primary-flash td
{ 
	font-style: oblique;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}


#primary-flash .countdown
{ 
	position: absolute;
	right: 130px;
	bottom: 40px;
}

.more-info
{ 
	position: absolute;
	right: 0px;
	top: 20px;
	width: 120px;
	height: 25px;
}

.green .small_price
{ 
	color: #92d006;
	font-weight: bold;
}

.blue{ 
	color: #028cc5;
	font-weight: bold;
}

.limited{ 
	color: #cc6633;
	font-weight: bold;
}

body.large .footershadow
{
	text-align: left;
	padding-left: 0px;
	background-image:url(../images/gfx/dw_main_large.gif);
	background-position: 5px top;
	background-repeat: no-repeat;
}

tr.last-bid
{
	background-color: #ffffcc;
	border: 1px solid #ffffff;
}


</style >






















