<style TYPE="text/css">body {font-size: 8pt ; font-family: Verdana, Helvetica, Arial; background-color: #d8da3d}

.verde1 {font-size: 20pt;
	     font-family: Verdana, Arial, Helvetica, sans-serif;
	     line-height: 20pt;
	     color: #669933;
	     text-decoration: bold;
	     font-weight: normal;
         }
.verde1:hover {color: #003300;}
.verde1:link {color: #669933;}


.verde2 {font-size: 8pt;
	     font-family: Verdana, Arial, Helvetica, sans-serif;
	     line-height: 9pt;
	     color: #336600;
	     text-decoration: none;
	     font-weight: normal;
         }
.verde2:hover {color: #003300;}
.verde2:link {color: #336600;}


.verde3 {font-size: 8pt;
	     font-family: Verdana, Arial, Helvetica, sans-serif;
	     line-height: 9pt;
	     color: #669933;
	     text-decoration: none;
	     font-weight: normal;
         }
.verde3:hover {color: #003300;}
.verde3:link {color: #669933;}


.verde4 {font-size: 14pt;
	     font-family: Verdana, Arial, Helvetica, sans-serif;
	     line-height: 16pt;
	     color: #006633;
	     text-decoration: none;
	     font-weight: normal;
         }
.verde4:hover {color: #003300;}
.verde4:link {color: #006633;}


.stdtable{
    width: 766px;
	border: 0px;
}

.menu{
	width: 766px;
}
</style>
