<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   version="2.5"> 

    <description>
      Trabajo Practico de Tecnicas de Disenio Grupo 5: La Rematada
    </description>
    <display-name>LaRematada</display-name>

	<servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>home.Home</servlet-class>
	</servlet>
	
	<servlet>
        <servlet-name>StartupController</servlet-name>
        <servlet-class>startup.StartupController</servlet-class>
 	</servlet>

    <servlet>
        <servlet-name>BidControllerServlet</servlet-name>
        <servlet-class>bid.BidControllerServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>BidController</servlet-name>
        <servlet-class>bid.BidController</servlet-class>
    </servlet>

	<servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>customers.registration.RegistrationController</servlet-class>
	</servlet>
	
    <servlet>
        <servlet-name>AuctionController</servlet-name>
        <servlet-class>auction.AuctionController</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>login.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestAdmin</servlet-name>
        <servlet-class>test.web.admin.TestAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>login.admin.AdminLogin</servlet-class>
    </servlet>

    
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    
<!--    <servlet-mapping>
        <servlet-name>StartupController</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping> -->
    
    <servlet-mapping>
        <servlet-name>BidControllerServlet</servlet-name>
        <url-pattern>/BidControllerServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>BidController</servlet-name>
        <url-pattern>/BidController</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/RegistrationController</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>AuctionController</servlet-name>
        <url-pattern>/AuctionController</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>TestAdmin</servlet-name>
        <url-pattern>/TestAdmin</url-pattern>
    </servlet-mapping>
        <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    
</web-app>